*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: hotpink;
}

*{
 background-color: mediumaquamarine;
 width: 10px;
 height: 600px;
 border-radius: 4vh;


}

*{
    background-color: green;
    width: 10px;
    height: 600px;
    border-radius: 4vh;
   
   
   }